.wp_sppd_form{width:300px; text-align:center;}
.wp_sppd_input{width:30px;background: #f9f9f9;border: 1px solid #d9d9d9;padding: 7px 14px;outline: 0;font-size: 13px;color: #a6a6a6;}
.wp_sppd_label{width:100px;float: left;line-height: 35px;}
